In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\yashs\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install -U Flask

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Flask in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.0.3)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Flask) (1.8.2)
Requirement already satisfied: colorama in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from click>=8.1.3->Flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\yashs\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Jinja2>=3.1.2->Flask) (2.1.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\yashs\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
from flask import Flask,render_template_string,render_template  
from werkzeug.serving import run_simple 
import pandas as pd

In [4]:
pip install sqlite3

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\yashs\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import sqlite3 
con=sqlite3.connect('hotel.db')
cursor=con.cursor()

In [ ]:
create_table=""" CREATE TABLE hotel_booking(
                hotel TEXT,
                adults INT,
                children INT,
                reservation_status TEXT,
                reservation_status_date DATE,
                name TEXT,
                email TEXT,
                phone_number INT,
                credit_card NUMERIC);
                """
cursor.execute(create_table)

In [7]:
import csv

In [8]:
with open ("Database_Data_python.csv") as file:
    data_file=csv.reader(file)
    for row in data_file:
        if row[0]=='hotel':
            continue
        cursor.execute("INSERT INTO hotel_booking VALUES(?,?,?,?,?,?,?,?,?)",(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7], row[8]))

In [9]:
dataframe = pd.read_csv('Database_Data_python.csv') 
dataframe

,hotel,adults,children,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,2,0.0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,2,0.0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,1,0.0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,1,0.0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,2,0.0,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...
119385,City Hotel,2,0.0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,3,0.0,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,2,0.0,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,2,0.0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,2,0.0,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [10]:
con.commit()
con.close()

In [11]:
webpage=Flask(__name__)
@webpage.route('/') 
def home(): 
    data_html=dataframe.to_html(index=False)  
    return render_template_string('''
    <!DOCTYPE html>
    <html>
    <body>

        <h1>Hotel booking status</h1>
        <p>Welcome to our Database>
        <div>{{data|safe}} </div>

   </body>
   </html>
   ''',data=data_html)
@webpage.route('/about')
def about():
    return  render_template_string('''
    <!DOCTYPE html>
    <html>
    </head>
    <body>                                                             
         
        <h1>hotek booking</h1>
        <p>We Have different variables that explains the hotel booking status</p>
        <ul>
            <li><b>hotel:</b>types of hotel</li>
            <li><b>adult:</b>number of adult</li>
            <li><b>children:</b>number of children.</li>
            <li><b>reservation_status:</b>Reservation status.</li>
            <li><b>reservation_status_date:</b>the date of the reservation status</li>
            <li><b>name:</b>name of customer.</li>
            <li><b>email:</b>email of customer.</li>
            <li><b>phone number:</b>contact number of customer</li>  
            <li><b>credit card:</b>credit card number</li>
            
                         
    </body>
    </html>                             
    ''')

In [12]:
run_simple('localhost',7300,webpage,use_reloader=False,use_debugger=False)

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:7300
Press CTRL+C to quit
127.0.0.1 - - [21/Jul/2024 22:18:55] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [21/Jul/2024 22:19:28] "GET /about HTTP/1.1" 200 -
127.0.0.1 - - [21/Jul/2024 22:19:36] "GET /favicon.ico HTTP/1.1" 404 -